[prediction_type]
classification: 1
regression: 0

[classification_type]
binary: 1
multi: 0

[hyperparameters]

[pruning]
pruning: 1

[evaluation_metrics]
accuracy: 1
precision: 0
recall: 0
f1: 0
r2: 0
mse: 0
mae: 0
rmse: 0
mpe: 0
mape: 0
mad: 0

[metric_for_model_selection]
accuracy: 1
precision: 0
recall: 0
f1: 0
r2: 0
mse: 0
mae: 0
rmse: 0
mpe: 0
mape: 0
mad: 0