[prediction_type]
classification: 1
regression: 0

[classification_type]
binary: 1
multi: 0

[hyperparameters]
learning_rate: [0.1]
hidden_layer_1_size: [10]
hidden_layer_2_size: [20]

[evaluation_metrics]
accuracy: 1
precision: 0
recall: 0
f1: 0
r2: 0
mse: 0
mae: 0
rmse: 0
mpe: 0
mape: 0
mad: 0

[metric_for_model_selection]
accuracy: 1
precision: 0
recall: 0
f1: 0
r2: 0
mse: 0
mae: 0
rmse: 0
mpe: 0
mape: 0
mad: 0