[engine]
value_iteration: 0
q_learning: 0
sarsa: 1

[crash_algorithm]
soft: 0
harsh: 1

[transfer_learning]
path: 0

[model]
actions: [-1, 0, 1]
costs: {'.': -1, 'S': -1, '#': -1, 'F': 0} 
transition: {'success': 0.8, 'fail': 0.2} 
training_iterations: 2000
num_exps: 500
velocity_limit: [-5, 5]
reward: 0
alpha: 0.95
gamma: 0.75
convergence_epsilon: 0.1

[hyperparameters]
eta: [0.01]
mu: [0.05]
epochs: [3000]
hidden_layer_1_size: [30]
hidden_layer_2_size: [40]

[evaluation_metrics]
length: 1
cost: 0
training_iters: 0

[metric_for_model_selection]
length: 1
cost: 0
training_iters: 0